@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
body{
    background-color: rgba(249, 249, 235, 0.9);
    margin: 0;
}

ul{
    display: inline-block;
    width: 300px;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul>li{
    display: inline-block;
    cursor: pointer;
    margin: 17px 0 17px 0;
    background-color: red;
    width: 250px;
    padding: 3px;
    color: white;
}

div#canvasContainer{
    position: absolute;
}

div#infoContainer{
    position: relative;
    left: 765px;
    width: 650px;
}

canvas#gameField, canvas#figureField, canvas#infoField{
    position: absolute;
    top: 0;
    left: 0;
}

canvas#gameField{
    z-index: 1;
}

canvas#figureField{
    z-index: 2;
}

#infoContainer{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
div#statistics{
    width:400px; 
    height:330px; 
    display:inline-block;
    vertical-align: top;
    margin-left: 100px;
    text-align: center;
    font-size: 40px;
    padding: 70px 0 30px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: white;
}

div#title{
    width: 430px;
    height: 50px;
    padding: 5px;
    position: relative;
    top: 30px;
    left: 80px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(65, 153, 241);
    color: white;
    box-shadow: 0 10px 6px -6px #777;
}

p.endGameStatistics{
    margin: 0;
}

#startGame{
    position: relative;
    top: 50px;
    left: 210px;
    padding: 15px 25px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background-color: rgb(65, 153, 241);
    border: none;
    box-shadow: 0 10px 6px -6px #777;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#startGame:hover {
    background-color: rgb(18, 128, 237);
    cursor: pointer;
}

p.statisticsDistribution{
    margin: 0;
}

div.statisticsDistribution{
    background-color: rgba(216,216,216, 0.5);
    margin-top: 25px;
    width: 350px;
    margin-left: 25px;
    border-radius: 5px;
}